<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% for brand in brand_forms %}
        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
            <a href="http://127.0.0.1:8000/demo/brand/{{ brand.0.id }}">{{ brand.0.id }} - {{ brand.0.name }} - {{ brand.0.cat_type }} - {{ brand.0.value }} - {{ brand.0.location }} - {{ brand.0.foundation_year }}</a>{{ brand.1 }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
        <br>
    {% endfor %}



</body>
</html>